.e-bill,
.post-bill {
  width: 100%;
  height: 56px;
  border: 2px solid white;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
  &:hover {
    background-color: white;
    color: theme-color("primary");
    text-decoration: none;
  }
  &:active{
    background-color: $light;
  }
}
.e-bill.active,
.post-bill.active {
  background-color: white;
  color: theme-color("primary");
  &:active{
    background-color: $light;
  }
}

.e-bill-address,
.post-bill-address {
  display: none;
}

.e-bill-address.open,
.post-bill-address.open{
  display: block;
}