.cart {
  border-bottom: 1px solid $light;
  @media (max-width: 768px) {
    border: none;
  }
}
.cart-image {
  height: 110px;
  min-width: 110px;
}
.cart-control {
  .input-group {
    .input-group-append {
      .btn {
        width: 45px;
        height: 45px;
      }
    }
    .form-control {
      text-align: center;
      width: 45px;
      height: 45px;
      flex: 0 1 auto;
      border-top-color: $secondary;
      border-bottom-color: $secondary;
    }
  }
}
.price {
  @media (max-width: 768px) {
    border-bottom: 1px solid $light;
    border-top: 1px solid $light;
  }
}
.cart-bill {
  background-color: theme-color("primary");
  color: white;
  @media (max-width: 768px) {
    background-color: white;
    color: theme-color("primary");
  }
  h5 {
    @media (max-width: 768px) {
      background-color: $light;
    }
  }
}
.card-body {
  .cart-image {
    height: 80px;
  }
}

.nextStep {
  position: relative;
  @media (max-width: 991.98px) {
    width: 100vw;
    margin-left: calc((100vw - 660px) / -2);
  }
  @media (max-width: 767.98px) {
    margin-left: calc((100vw - 540px) / -2);
  }
  @media (max-width: 575.98px) {
    margin: 0;
    width: 100%;
  }
}
