.hidden-text{
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
}
.logo{
    width: 114px;
    height: 18px;
    background-image: url(/images/logotype-sm-dark.svg);
    background-repeat: no-repeat;
    @media (min-width: 768px) {
        width: 220px;
        height: 40px;
        background-image: url(/images/logo-all-dark.svg);
        
    }
}