.h496 {
  height: 496px;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.zindex-2 {
  z-index: 2;
}
.zindex-3 {
  z-index: 3;
}
.writing-rl{
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.btn-white{
  background-color: white;
  border: 1px solid $light;
  &:hover{
    background-color: rgba($black, .075);
  }
}
.delete{
  cursor: pointer;
  &:hover{
    color: black;
  }
  &:active{
    background-color: $light;
  }
  
}
.btn-block + .btn-block{
  margin: 0;
}
.padding16-7{
  padding: 16.7px;
}